<h3>Deleted Alerts</h3>

<div>
  <form class="row">
    <div class="form-group col-xs-4">
      <input ng-model="searchFilter" type="text" class="form-control" placeholder="Search"/>
    </div>
    <div class="form-group col-xs-2">
      <select ng-model="sourceFilter" type="text" class="form-control" placeholder="Search">
        <option selected value="">All Sources</option>
        <option value="graphite">graphite</option>
      </select>
    </div>
    <div class="form-group col-xs-2">
      <a href="#/alerts" class="btn btn-success">Back to regular view</a>
    </div>
  </form>
</div>

<table class="table table-responsive table-striped table-hover table-condensed">
  <thead>
    <th>Name</th>
    <th>Source</th>
    <th>Format</th>
    <th>Interval</th>
    <th>Method</th>
    <th>Deleted At</th>
    <th>Delete</th>
  </thead>
  <tbody>
    <tr data-ng-repeat="alert in alerts | filter: searchFilter | filter: sourceFilter">
      <td>{{ alert.name }}</td>
      <td>{{ alert.source }}</td>
      <td>{{ alert.query }}</td>
      <td>{{ alert.interval }}</td>
      <td>{{ alert.method }}</td>
      <td>{{ alert.DeletedAt }}</td>
      <td ng-click="undelete('/api/alert/' + alert.ID + '/undelete')" class="pointer"><span class="fa fa-undo"></span></td>
    </tr>
  </tbody>
</table>