<h3>Configurations</h3>

<table class="table table-responsive table-striped table-hover table-condensed">
  <thead>
    <th>Name</th>
    <th>Graphite URL</th>
    <th>Public URL</th>
    <th>Username</th>
    <th>Pidfile</th>
    <th>Logging</th>
    <th>Prefix</th>
    <th>Delete</th>
  </thead>
  <tbody>
    <tr data-ng-repeat="conf in configurations">
      <td ng-click="show('/configuration/' + conf.ID)" class="pointer">{{ conf.name }}</td>
      <td ng-click="show('/configuration/' + conf.ID)" class="pointer">{{ conf.graphite_url }}</td>
      <td ng-click="show('/configuration/' + conf.ID)" class="pointer">{{ conf.public_graphite_url }}</td>
      <td ng-click="show('/configuration/' + conf.ID)" class="pointer">{{ conf.auth_username }}</td>
      <td ng-click="show('/configuration/' + conf.ID)" class="pointer">{{ conf.pidfile }}</td>
      <td ng-click="show('/configuration/' + conf.ID)" class="pointer">{{ conf.logging }}</td>
      <td ng-click="show('/configuration/' + conf.ID)" class="pointer">{{ conf.prefix }}</td>
      <td ng-click="delete('/api/configuration/' + conf.ID)" class="pointer"><span class="glyphicon glyphicon-remove"></span></td>
    </tr>
  </tbody>
</table>